<div class="budget">
  <div>
    <h1 class="title">Budget App</h1>
  </div>
  <nav>
    <%= button_to "LOG IN", new_user_session_path, method: :get, class:"log_in budget_btn" %>
    <%= button_to "SIGN UP", new_user_registration_path, method: :get, class:"sign_up budget_btn"%>
  </nav>
</div>