/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  
}

:root{
  --main: #3778c2;
  --second: #5fb523;
  --text: #434b54;
}

body{
  font-family: "Proxima Nova", sans-serif;
}

.budget{
  height: 100vh;
  width: 100%;
  background: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.budget .title{
  color: var(--text);
  margin-bottom: 150px;
}

.budget .log_in{
  width:250px;
  height: 40px;
  background: var(--main);
  border: none;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.budget .sign_up{
  width:250px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
  background:#f5f5f5;
  border: none;
  color: var(--text);
}


.log_banner{
  background: var(--main);
  height:80px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #f5f5f5;
}

.log_btn{
  border: none;
  color: #fff;
  cursor: pointer;
  background: transparent;
  font-size: 16px;
}

.log_first{
  margin-top: 15px;
}

.log_form{
  width: 100%;
  height: 50px;
  padding: 0 5px;
  border-radius: 5px;
  focus: none;
}
.log_container{
  text-align: center;
  margin-top: 15px;
}

.log_share{
 color: var(--text);
 text-decoration: none;
 font-weight: lighter;
 
}

.log_confirm{
  display:none;
}

/*Registes Banner*/
.register_banner{
  height: 80px;
  padding: 0 15px;
  background: var(--main);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #f5f5f5;
  margin-bottom: 15px;
}

.register_banner h2{
  font-size: 20px;
  font-weight: lighter;
}

/*Forgot Password*/
.password_container{
  width: 100%;
  height: 50px;
  padding: 0 5px;
  background: var(--main);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f5f5f5;
  margin-bottom: 15px;
}

.password_container h2{
  font-size: 20px;
  font-weight: lighter;
}

.password_field{
  text-align: center;
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.password_form{
  width:350px;
  height: 30px;
  padding: 0 5px;
  border-radius: 5px;
  focus: none;
}

.password_btn{
  width:350px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
  background: var(--main);
  border: none;
  color: #fff;
  margin-top: 15px;
  
}

/*Transactions Navbar*/
.tran_navbar{
  height: 80px;
  padding: 0 15px;
  background: var(--main);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f5f5f5;
  margin-bottom: 15px;
  text-align: center;
}

.tran_title{
  color: #f5f5f5;
  text-decoration: none;
  list-style: none;
}

.tran_container{
  background: #f5f5f5;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tran_data{
  background: #fff;
  height: 80px;
  margin:15px;
  padding: 15px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.fixed-bottom{
  background: var(--second);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tran_name{
  color: var(--text);
  font-weight: lighter;
}

.tran_amount{
  color: var(--text);
  font-weight: bold;
}

.tran_btn{
  background: transparent;
  border: 1px solid #f5f5f5;
  border-radius: 3px;
  width: 300px;
  color: #f5f5f5;
  height: 40px;
  cursor: pointer;
  text-transform: uppercase;
}

/*Detail Navbar*/
.detail_nav{
  background: var(--main);
  height: 80px;
}

.detail_inner{
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.detail_title{
  color: #f5f5f5;
  font-size: 20px;
  font-weight: lighter;
}

.detail_log{
  color: #f5f5f5;
}

.detail_content{
  height: 100vh;
  background: #f5f5f5;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.detail_btn_container{
  background: var(--second);
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.detail_total{
  background: #fff;
  height: 80px;
  margin:15px;
  padding: 15px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
}

.detail_inner_total{
  margin:30px  15px;
  background: #fff;
  height: 80px;
  padding: 15px;
  border-radius: 5px;
}

.inner_total_expense{
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text);
}

.inner_total_amount{
  color: var(--text);
  font-weight: bold;
}

.detail_total_payment{
  color: var(--text);
  font-weight: lighter;
}

.detail_inner_btn{
  background: transparent;
  border: 1px solid #f5f5f5;
  border-radius: 3px;
  width: 300px;
  color: #f5f5f5;
  height: 40px;
  cursor: pointer;
}